* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.lighttheme {
  --color: black;
  --bg-color: rgb(245, 242, 242);
  --color-checked: white;
  --text-color: black;
  --shadow: 0px 0.3px 9px rgb(190, 190, 190);
  --border: 1px solid rgb(190, 190, 190);
  --shadow-gd: 0px 6px 12px rgba(10, 10, 10, 0.1);
  --linked:                                              
;
}
.darktheme {
  --bg-color: rgb(60, 60, 60);
  --color: rgb(231, 230, 230);
  --color-checked: rgba(40, 40, 40, 1);
  --text-color: white;
  --shadow: 0px 0.3px 9px rgba(65, 65, 65, 0);
  --border: 1px solid rgb(65, 65, 65);
  --shadow-gd: 0px 0.5px 6px rgba(151, 151, 151, 0.1);
  --linked: rgb(177, 175, 175);
}
.greentheme {
  --bg-color: rgb(1, 77, 1);
  --color-checked: rgb(6, 184, 6);
  --text-color: white;
}
.bluetheme {
  --bg-color: rgb(1, 77, 1);
  --color-checked: rgb(6, 184, 6);
  --text-color: white;
}
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: var(--color);
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.top-bar {
  width: 100%;
  height: 50px;
  background: var(--bg-color);
  text-align: center;
  color: var(--color);
  font-size: 16px;
  font-weight: 300;
  box-shadow: var(--shadow);
}
.body {
  width: 100vw;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  justify-content: left;
  height: calc(100%);
  margin-left: 260px;
  flex-grow: 1;
}
.container .sidebar {
  padding: 20px;
  background: var(--color-checked);
  height: calc(100%);
  width: 17%;
  border-right: var(--border);
}
.container .sidebar .child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  align-items: left;
}
.container .sidebar .titre {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  color: var(--color);
}
.container .sidebar .titre .logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--color);
}
.container .sidebar .titre .titre {
  color: var(--color);
  display: block;
}
.container .sidebar .titre .titre h1 {
  font-size: 25px;
  font-weight: 200;
}
.container .sidebar .titre .titre p {
  color: var(--color);
}
.container .sidebar .boite {
  display: block;
  gap: 20px;
}
.container .sidebar .boite div.link {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background: var(--color-checked);
  padding: 5px;
  box-shadow: var(--shadow-gd);
  cursor: pointer;
}
.container .sidebar .child .btn {
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  color: black;
}
.container .sidebar .child .pied button {
  background: var(--bg-color);
  border: var(--border);
  box-shadow: var(--shadow-gd);
  padding: 8px;
  width: 100px;
  border-radius: 10px;
  color: var(--color);
}
.container .sidebar .boite div.link .btn .logo {
  background: rgb(10, 10, 10);
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.container .page {
  display: block;
  background: var(--bg-color);
  width: 100%;
  height: calc(100%);
}
.container .page .head {
  background: var(--color-checked);
  border-bottom: 1px solid rgba(12, 11, 11, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: var(--color);
}
.container .page .contenu {
  padding: 20px;
  gap: 30px;
  height: 100%;
}
.container .page .content_stat {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.container .page .content_stat h3 {
  font-size: 20px;
  font-weight: 400;
}
.container .page .content_stat h2 {
  font-size: 32px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 20px;
}
.container .page .content_stat .content1,
.container .page .content_stat .content2,
.container .page .content_stat .content3,
.container .page .content_stat .content4 {
  height: 140px;
  border-radius: 15px;
  max-width: 400px;
  padding: 10px;
  color: white;
  display: block;
  justify-content: space-between;
  box-shadow: var(--shadow-gd);
  overflow: hidden;
}

.container .page .content_stat .content1 {
  background-color: rgba(76, 73, 252, 0.6);
  border: 1px solid rgba(76, 73, 252, 1);
}

.container .page .content_stat .content2 {
  background-color: rgba(50, 247, 32, 0.6);
  border: 1px solid rgb(34, 196, 19);
}

.container .page .content_stat .content3 {
  background-color: rgba(252, 188, 12, 0.6);
  border: 1px solid rgba(252, 188, 12, 1);
}
.container .page .content_stat .content4 {
  background-color: rgba(186, 32, 247, 0.6);
  border: 1px solid rgba(186, 32, 247, 1);
}
.container .page .table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  gap: 20px;
}
.containeer .page .table {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .page .table .tableau {
  color: var(--color);
  background: var(--color-checked);
  border-radius: 15px;
  border: 1px solid rgba(129, 129, 129, 0.4);
  height: auto;
  min-height: 340px;
  max-height: 400px;
  width: auto;
  box-shadow: 0px 0.5px 6px rgba(151, 151, 151, 0.4);
}
.container .page .table .tableau h3 {
  text-align: center;
  margin: 10px;
  font-size: 30px;
}

.container .page .table .liste {
  color: var(--color);
  height: auto;
  padding: 20px;
  padding-bottom: 10px;
  gap: 10px;
  background: var(--color-checked);
  border: 2px solid rgba(173, 173, 173, 0.1);
  border-radius: 15px;
  box-shadow: var(--shadow-gd);
}
.container .page .table .liste h2 {
  text-align: center;
}
.container .page .table .liste .boite {
  overflow-y: scroll;
  scrollbar-width: none;
  height: 250px;
}
.container .page .table .liste .boite .etudiant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  border: 1px solid rgb(236, 236, 236);
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 5px;
}
.container .page .table .liste .boite .etudiant img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.container .page .table .liste .boite .etudiant .profile {
  display: flex;
  gap: 10px;
}
.container .page .table .liste .boite .etudiant .info {
  display: flex;
  gap: 30px;
}
.container .page .table .liste .boite .etudiant h4 {
  color: var(--text-color);
  font-weight: 400;
}
.container .page .table .liste .boite .etudiant p {
  color: var(--text-color);
}
.container .page .table .liste .boite .etudiant .info h5 {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
}
.container .page .table .liste .boite .etudiant .info p {
  padding-top: 5px;
  color: var(--text-color);
}

#vide {
  margin: 17px;
  text-align: center;
  font-size: 25px;
}

/* --- Barre Latérale (Sidebar) --- */
.sidebar {
  width: 260px;
  /* background-color: #0d1e3d; */
  background: var(--color-checked);
  /* color: #fff; */
  /* color: #8b8a8a; */
  color: var(--color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 25px;
  border-bottom: 1px solid #1e325c;
}

.logo i {
  font-size: 24px;
  color: #3b82f6;
}

.logo h2 {
  font-size: 18px;
}

.logo h2 span {
  display: block;
  font-size: 11px;
  color: #94a3b8;
  text-transform: uppercase;
}

.menu {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  /* color: #40454d; */
  color: var(--color);
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.3s;
}

.menu a:hover,
.menu a.active {
  background-color: #2563eb;
  color: #fff;
}

.logout {
  color: #ef4444;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  font-size: 14px;
  transition: all 0.3s;
  cursor: pointer;
}
