* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(0, 0, 26);
  width: 100vw;
  height: 100vh;
  padding: 0px;
}

.container {
  margin: 25px;
  border: 1px rgba(100, 100, 100, 0.4) solid;
  border-radius: 15px;
  background-color: rgba(15, 15, 15, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../assets/bg.png);
  background-position: center;
  overflow: hidden;
  scrollbar-width: 0;
}
.container .content-page {
  background: rgba(7, 7, 7, 0.7);
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
}
.container .content-page .content {
  width: 400px;
  height: full;
  color: white;
  padding: 20px;
}

.container .content-page .logo {
  padding: 10px;
  gap: 30px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.container .content-page .logo .left {
  border-radius: 50%;
  background: blue;
  width: 100px;
  height: 100px;
  color: black;
  overflow: hidden;
  display: flex;
}
.container .content-page .logo .right {
  border-left: 3px solid rgba(255, 255, 255, 1);
}
.container .content-page .logo .right h1 {
  font-size: 30px;
  font-weight: 600;
  color: white;
}
.container .content-page .titre {
  padding: 10px;
}
.container .content-page .boite {
  border: 1px solid rgb(2, 2, 73);
  border-radius: 10px;
  padding: 10px;
  background: rgba(0, 9, 56, 0.6);
  gap: 10px;
  width: 300px;
}

.container .content-page .boite1,
.container .content-page .boite2,
.container .content-page .boite3 {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.container .content-page .boite .left {
  width: 30px;
  height: 30px;
  background: blue;
}
.container .content-page .boite .left {
  display: block;
}

.container .content-form {
  padding-top: 40px;
  padding-bottom: 40px;
  background: white;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container .content-form .content {
  padding: 30px;
}
.container .content-form .content .titre {
  text-align: center;
  padding: 20px;
}
.container .content-form .content .titre .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content-form .content .titre .logo .logo {
  height: 50px;
  width: 50px;
  background: #030242;
  border-radius: 50%;
}
.container .content-form .content div.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content-form .content form {
  gap: 20px;
  display: block;
  place-content: center;
}
.container .content-form .content form input {
  padding: 10px;
  width: 300px;
  border: 1px solid rgba(1, 1, 94, 0.5);
  border-radius: 5px;
}

.container .content-form .content form .bouton {
  width: 325px;
  padding: 10px;
  background: rgb(10, 4, 179);
  border: none;
  border-radius: 5px;
}
.container .content-form .content .link {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: rgb(90, 95, 95);
}
.container .content-form .content .link h3 {
  color: black;
}
